* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #7B7B7B;
}
h1 {
  font-family: 'oswaldregular', serif;
  font-size: 40px;
}
h2 {
  font-family: 'montserratregular', serif;
  color: #606060;
  font-size: 20px;
}
p {
  font-family: 'montserratlight', serif;
  font-size: 14px;
}
a {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
header {
  background: #F1F1F1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  height: 70px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
}
header.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
header.open-menu {
  height: 360px;
  margin-top: -10px;
}
#front-content {
  height: 70px;
  background: #e1eff5;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
}
#front-content.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
#front-content.open-menu {
  height: 60px;
}
#front-content #brand {
  width: 20%;
  float: left;
  height: 70px;
  line-height: 70px;
  padding-left: 40px;
  font-family: 'oswaldregular', serif;
  color: #7B7B7B;
  font-size: 25px;
}
#front-content nav {
  width: 60%;
  float: left;
  text-align: center;
  height: 70px;
}
#front-content #links {
  width: 20%;
  float: left;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding-right: 40px;
}
#front-content #links i {
  margin: 0 9px;
  text-align: center;
  font-size: 22px;
  color: #7C7C7C;
}
#front-content #links i:hover {
  color: #555555;
}
#back-content {
  height: 300px;
  position: relative;
}
.item-holder {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
}
.item-holder.hide {
  display: none;
}
.item-holder.move-left .item-block {
  transform: translate3d(-1000px, 0, 0) !important;
}
.item-holder.move-right .item-block {
  transform: translate3d(1000px, 0, 0) !important;
}
.item-holder .item-block {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  position: relative;
  text-decoration: none;
  color: #000;
  transform: translate3d(0, -300px, 0);
  height: 300px;
  width: 250px;
  float: left;
  padding: 100px 20px 0;
  overflow: hidden;
}
.item-holder .item-block.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
.item-holder .item-block:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  top: 30px;
  bottom: 30px;
  left: 0;
}
.item-holder .item-block:first-child:before {
  width: 0;
}
.item-holder .item-block:nth-child(1) {
  transition-delay: 70ms;
  -webkit-transition-delay: 70ms;
  -moz-transition-delay: 70ms;
  -ms-transition-delay: 70ms;
  -o-transition-delay: 70ms;
}
.item-holder .item-block:nth-child(2) {
  transition-delay: 90ms;
  -webkit-transition-delay: 90ms;
  -moz-transition-delay: 90ms;
  -ms-transition-delay: 90ms;
  -o-transition-delay: 90ms;
}
.item-holder .item-block:nth-child(3) {
  transition-delay: 110ms;
  -webkit-transition-delay: 110ms;
  -moz-transition-delay: 110ms;
  -ms-transition-delay: 110ms;
  -o-transition-delay: 110ms;
}
.item-holder .item-block h2 {
  font-family: 'oswaldlight', serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
}
.item-holder .item-block h2.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
.item-holder .item-block p {
  font-family: 'montserratlight', serif;
  margin-top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  transition-delay: 40ms;
  -webkit-transition-delay: 40ms;
  -moz-transition-delay: 40ms;
  -ms-transition-delay: 40ms;
  -o-transition-delay: 40ms;
}
.item-holder .item-block p.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
.item-holder .item-block .block-link {
  font-family: 'montserratregular', serif;
  margin-top: 130px;
  color: #41A1F3;
  opacity: 0;
}
.item-holder .item-block .decorate-bar {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 0;
  height: 0;
  background-color: #579CEC;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
}
.item-holder .item-block .decorate-bar.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
.item-holder .item-block:hover {
  background-color: #fff;
}
.item-holder .item-block:hover h2 {
  margin-top: -30px;
}
.item-holder .item-block:hover p {
  margin-top: 10px;
}
.item-holder .item-block:hover:before {
  top: 0;
  bottom: 0;
  width: 1px;
}
.item-holder .item-block:hover:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  right: 0;
}
.item-holder .item-block:hover + .item-block:before {
  width: 0;
}
.item-holder .item-block:hover .block-link {
  margin-top: 50px;
  opacity: 0.999;
}
.item-holder .item-block:hover .decorate-bar {
  height: 7px;
}
.item-holder.open-menu .item-block {
  transform: translate3d(0, 0, 0);
}
#main {
  background: #fff;
  padding: 70px 100px;
  top: 70px;
  bottom: 0;
  position: absolute;
  overflow: auto;
  z-index: 1;
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  -ms-transition: transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition-delay: 50ms;
  -webkit-transition-delay: 50ms;
  -moz-transition-delay: 50ms;
  -ms-transition-delay: 50ms;
  -o-transition-delay: 50ms;
}
#main.open-menu {
  transform: scale(0.9);
}
#main h1 {
  margin: 0;
}
#main h2 {
  margin-top: 0;
}
#main #holder-image {
  float: right;
  width: 40%;
}
#main #holder-image img {
  width: 100%;
}
#main #content {
  width: 60%;
  padding-right: 40px;
}
#main #content p {
  text-align: justify;
}
ul#menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#menu li {
  display: block;
  float: left;
  height: 70px;
  line-height: 70px;
}
ul#menu li a {
  font-family: 'oswaldregular', serif;
  display: block;
  text-decoration: none;
  height: 70px;
  line-height: 70px;
  color: #7B7B7B;
  font-size: 22px;
  padding: 0 20px;
}
ul#menu li a:hover {
  color: #555555;
}
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: none;
}
#menu-overlay.open-menu {
  background-color: rgba(0, 0, 0, 0.3);
}
#underline-bar {
  height: 4px;
  background-color: #4C85C9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition: all 300ms cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -moz-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  -o-transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  transition-timing-function: cubic-bezier(0.325, 0.035, 0.245, 1.475);
  /* custom */
}
#underline-bar.no-back-anim {
  -webkit-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  transition: all 300ms cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  transition-timing-function: cubic-bezier(0.395, 0.005, 0.2, 1);
  /* custom */
}
#underline-bar.open-menu {
  width: 100px;
}
